.container {
    padding-top: 20px;
}

.card {
    text-align: center;
    max-width: 15rem;
}

.spinner-container {
    width: 100%;
    text-align: center;
}

.title {
    display: flex;
    justify-content: space-between;

    .controls {
        display: flex;
        align-items: center;
    }
}
