<div class="container">

    <div *ngIf="loading" class="spinner-container">
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>

    <p *ngIf="errorFetching">
        There was an error while fetching the list. Please try again.
    </p>

    <div *ngIf="!loading && !errorFetching">
        <div class="title">
            <h1>Computers</h1>

            <div class="controls">
                <button type="button" class="btn btn-primary"
                    (click)="onNewComputerClicked(newComputerModal)">New</button>
            </div>
        </div>
        <hr>

        <ul *ngIf="computers.length > 0" class="list-unstyled row">
            <li class="col" *ngFor="let computer of computers">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ computer.title }}</h5>
                        <p class="card-text">{{ computer.description }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
        </ul>

        <p *ngIf="computers.length === 0">
            No computers.
        </p>

        <ng-template #newComputerModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Computer</h4>
                <button type="button" class="close" aria-label="Close" (click)="onModalDismissed()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">OS:</label>
                        <select name="os" type="text" class="form-control" [(ngModel)]="modalComputer.os">
                            <option *ngFor="let key of availableOs" [value]="key" [label]="key | lowercase"></option>
                        </select>

                        <label class="col-form-label">Title:</label>
                        <input name="title" type="text" class="form-control" [(ngModel)]="modalComputer.title">

                        <label class="col-form-label">Description:</label>
                        <input name="description" type="text" class="form-control"
                            [(ngModel)]="modalComputer.description">

                        <label class="col-form-label">Price:</label>
                        <input name="price" type="text" class="form-control" [(ngModel)]="modalComputer.price">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="onModalSavePressed()">Save</button>
            </div>
        </ng-template>
    </div>
</div>